<h1>Gráficas Dobles</h1>
<hr />
<div class="row">
  <div class="col-lg-6">
    <app-bar-graphic
      [horizontal]="true"
      [barChartData]="productData"
      [barChartLabels]="providersLabels"
    ></app-bar-graphic>
  </div>
  <div class="col-lg-6">
    <app-bar-graphic
      [barChartData]="providersData"
      [barChartLabels]="providersLabels"
    ></app-bar-graphic>
  </div>
</div>
