<h1>Redes Sociales más usadas</h1>
<hr />
<div *ngIf="loading; else divChart" class="alert alert-info">Cargando...</div>

<div class="row">
  <ng-template #divChart>
    <div class="col">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
    <span class="float-end text-primary">Datos en billones de usuarios</span>
  </ng-template>
</div>
