<h1>Proporción en Ventas</h1>
<hr />
<div class="row">
  <div class="col">
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
    >
    </canvas>
  </div>
</div>
