<h1>Gráfica de Barras</h1>
<hr />
<div class="row">
  <div class="col">
    <canvas
      class="mb-2"
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
    <button class="btn btn-primary float-end" (click)="randomize()">
      Actualizar
    </button>
  </div>
</div>
